<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/madhu/CucumberFrameworkwithFeatures/Testng/src/test/java/Anotation/TC2.java">
        <classes>
            <class name="Anotation.TC2">
                <methods>
                    <include name="Test3"/>
                    <include name="Test4"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/madhu/CucumberFrameworkwithFeatures/Testng/src/test/java/Anotation/Tc1.java">
        <classes>
            <class name="Anotation.Tc1">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>