<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ListenersDemo.CustomListner"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/madhu/CucumberFrameworkwithFeatures/Testng/src/test/java/ListenersDemo/Listentest1.java">
        <classes>
            <class name="ListenersDemo.Listentest1">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>